<!-- searchresults.html requires scripts.html 
this is a table that displays the results from the search.

-->


<section id="search-results">
    <div class="container">
      <div class="row">
          <div class="col-full-length">
              {% for message in get_flashed_messages() %}
              <p style="color: red;">{{ message }}</p>
              {% endfor %}
            {% raw %}
            <h2 id='listingCount'>Listings: {{ listingCount }}</h2>
            <button type="button" class="btn btn-primary" ng-csv="getTable(listings)" csv-header="getHeader()" filename="aps_app_results.csv">CSV Export</button>
            {% endraw %}
            <br>
          {% raw %}
          <div id="results">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th ng-repeat="heading in headings">
                    <!--<a href="#" ng-click="sortType = heading">
                    <span ng-show="sortType == heading" class="fa fa-caret-down"></span>-->
                    {{ heading }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="listing in listings | object2Array | orderBy:'-lowest_fba_price'">
                  <td><img ng-src={{listing.imagelist.small_image_url}} alt={{listing.part_number}}></td>
                  <td>{{ listing.asin }}</td>
                  <td>{{ listing.brand }}</td>
                  <td>{{ listing.title }}</td>
                  <td>{{ listing.part_number }}</td>
                  <td>{{ listing.upc }}</td>
                  <td>{{ listing.sales_rank | number }}</td>
                  <td>{{ listing.seller }}</td>
                  <td>{{ listing.lowest_price | currency }}</td>
                  <td>{{ listing.lowest_fba_price | currency }}</td>
                  <td>{{ listing.cost | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          {% endraw %}
          {% raw %}
          <img class="col-sm-3 col-sm-offset-4" src="/static/images/spinner.gif" ng-show="loading">
          {% endraw %}
        </div>
      </div>
    </div>
  </section>